# Clasificacion de los K vecinos.

In [28]:
import numpy as np
from sklearn import preprocessing, neighbors
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
import pandas as pd

In [29]:
#Cargamos dataset sobre el cancer en wisconsin
url = "https://raw.githubusercontent.com/joanby/python-ml-course/master/datasets/cancer/breast-cancer-wisconsin.data.txt"

#como no tienen nombre las columnas quitamos el nombre de las columnas.
df = pd.read_csv(url, header = None)

#Renombreamos las columnas
df.columns = ["Id", "V1", "V2", "V3", "V4", "V5", "V6", "V7", "V8", "V9", "Class"]
df.head()

        Id  V1  V2  V3  V4  V5  V6  V7  V8  V9  Class
0  1000025   5   1   1   1   2   1   3   1   1      2
1  1002945   5   4   4   5   7  10   3   2   1      2
2  1015425   3   1   1   1   2   2   3   1   1      2
3  1016277   6   8   8   1   3   4   3   7   1      2
4  1017023   4   1   1   3   2   1   3   1   1      2

In [30]:
df1 = df.drop(["Id"], 1)

#Reemplazamos los interrogantes por un numero que no se tenga en consideracion. (inplace=True) hace el reemplazo directamente
df1.replace("?", -99999, inplace = True)
df1.head()

   V1  V2  V3  V4  V5  V6  V7  V8  V9  Class
0   5   1   1   1   2   1   3   1   1      2
1   5   4   4   5   7  10   3   2   1      2
2   3   1   1   1   2   2   3   1   1      2
3   6   8   8   1   3   4   3   7   1      2
4   4   1   1   3   2   1   3   1   1      2

In [31]:
Y = df1["Class"]
cols = ["V1", "V2", "V3", "V4", "V5", "V6", "V7", "V8", "V9"]
X = df1[cols]

In [32]:
#Definimos el conjunto de entrenamiento y testing
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size= 0.2)

In [33]:
clf = neighbors.KNeighborsClassifier()

In [34]:
clf.fit(X_train, Y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [35]:
#Validacion para asegurarnos como de bien han funcionado (a partir del 95% -> tenemos 97%)
accuracy = clf.score(X_test, Y_test)
accuracy

0.9785714285714285

Se puede clasificar si una celula es o no cancerigena con un 97% fiabilidad

# Clasificación sin limpieza

In [18]:
#Cargamos dataset sobre el cancer en wisconsin
url = "https://raw.githubusercontent.com/joanby/python-ml-course/master/datasets/cancer/breast-cancer-wisconsin.data.txt"
#como no tienen nombre las columnas quitamos el nombre de las columnas.
df = pd.read_csv(url, header = None)

#Reemplazamos los interrogantes por un numero que no se tenga en consideracion. (inplace=True) hace el reemplazo directamente
df.replace("?", -99999, inplace = True)

#Renombreamos las columnas
df.columns = ["Id", "V1", "V2", "V3", "V4", "V5", "V6", "V7", "V8", "V9", "Class"]

Y = df["Class"]
cols = ["Id", "V1", "V2", "V3", "V4", "V5", "V6", "V7", "V8", "V9"]
X = df[cols]

#Definimos el conjunto de entrenamiento y testing
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size= 0.2)

clf = neighbors.KNeighborsClassifier()

clf.fit(X_train, Y_train)

#Validacion para asegurarnos como de bien han funcionado (a partir del 95% -> tenemos 97%)
accuracy = clf.score(X_test, Y_test)
accuracy

0.6285714285714286

Ahora no eliminamos la columna "Id". Si añaden datos irrelevantes podemos observar que la fiabilidad baja hasta el 60%.

# Calsificacion de nuevos datos

In [39]:
#Medidas inventadas para un nuevo paciente.
sample_measure = np.array([4,2,1,1,1,2,3,2,1])
sample_measure = sample_measure.reshape(1, -1)

In [41]:
predict = clf.predict(sample_measure)
predict

array([2], dtype=int64)

Para las entradas del paciente, se ha clasificado la celula de tipo 2 (benignos)

In [42]:
# Caso para dos pacientes.
sample_measure2 = np.array([[4,2,1,1,1,2,3,2,1],[4,2,1,1,1,2,3,2,1]]).reshape(2, -1)

In [43]:
predict = clf.predict(sample_measure2)
predict

array([2, 2], dtype=int64)

Nos clasifica a los dos pacientes con el mismo tipo de celula cancerigena.